name: Documentation
on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/configure-pages@v5

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - run: pip install zensical
    
      - name: Generate announcements
        env:
          BEFORE_SHA: ${{ github.event.before }}
          AFTER_SHA: ${{ github.sha }}
        run: python tools/generate_announce.py

      - name: Show generated announce.html
        run: |
          echo "----- announce.html -----"
          ls -la docs/overrides/partials || true
          cat docs/overrides/partials/announce.html || true
          echo "-------------------------"

      - run: zensical build --clean

      - uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - uses: actions/deploy-pages@v4
        id: deployment